HTTP_ADDR=:5050
HTTP_SHUTDOWN_TIMEOUT=30s

POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
POSTGRES_TIMEOUT=10s

LOGGER_LEVEL=DEBUG
LOGGER_FOLDER=./

JWT_TOKEN=

RABBIT_USER=
RABBIT_PASSWORD=

PUBLISHER_URL=

QUEUE_EMAIL_NAME=
SMTP_HOST=
SMTP_PORT=
SMTP_USER=
SMTP_PASSWORD=
SMTP_FROM=

REDIS_ADDR=localhost:6379
